name: Nightly Benchmarks

on:
  workflow_dispatch:
  schedule:
    # Run every day at midnight
    - cron: "0 0 * * *"


defaults:
  run:
    # The slightly odd shell call is to force bash to read .bashrc, which is
    # necessary for having conda behave sensibly.  We use bash as the shell even
    # on Windows, since we don't run anything complicated, and it makes
    # things much simpler.
    shell: bash -l {0}


jobs:
  cases:
    name: ${{ matrix.os }}, python${{ matrix.python-version }}, ${{ matrix.case-name }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        python-version: ["3.10"]
        case-name: [defaults]

    steps:
      - uses: actions/checkout@v2
      - uses: conda-incubator/setup-miniconda@v2
        with:
          activate-environment: actions-bench
          auto-update-conda: true
          python-version: ${{ matrix.python-version }}
          channels: conda-forge
          miniforge-variant: Mambaforge
          miniforge-version: latest
          use-mamba: true

      - name: Install dependencies
        run: |
           conda install numpy scipy cython
           conda install pytest pytest-benchmark
           conda install pandas matplotlib
           python -m pip install pygal pygaljs
           
      - name: Install Qutip
        run: |
           python -m pip install git+https://github.com/qutip/qutip@dev.major
    
      - name: Package information
        run: |
          conda list
          python -c "import qutip; qutip.about()"
     
      - name: Environment information
        run: |
          uname -a
          if [[ "ubuntu-latest" == "${{ matrix.os }}" ]]; then
              hostnamectl
              lscpu
              free -h
          fi

      - name: download from s3
        run: |
          aws s3 cp s3://qutip-benchmark-data/nightly ./.benchmarks --recursive
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.QUTIP_BENCHMARK_S3_KEYID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.QUTIP_BENCHMARK_S3_SECRET }}
          AWS_EC2_METADATA_DISABLED: true

      - name: run benchmarks
        run: |
          python benchmarks/benchmarks.py -m "nightly" -v 
        
      - name: Create artefact containing benchmarks
        uses: actions/upload-artifact@v2
        with: 
          name: nightly_benchmarks
          path: .benchmarks

      - name: upload to s3
        run: |
          aws s3 sync .benchmarks s3://qutip-benchmark-data/nightly
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.QUTIP_BENCHMARK_S3_KEYID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.QUTIP_BENCHMARK_S3_SECRET }}
          AWS_EC2_METADATA_DISABLED: true
      
      - name: create plots
        run: |
          python benchmarks/view_benchmarks.py --nightly --plotpath website/images/plots/nightly
          python benchmarks/view_benchmarks.py --scaling --plotpath website/images/plots/scaling

      - name: publish website
        run: | 
          python -m pip install ghp-import
          ghp-import -m "Automatic push by ghp-import" -f -p -o -r origin -b gh-pages website